matplotlib==3.6.1
numpy==1.23.4
pandas==1.5.1
requests==2.31.0
tensorboard==2.10.1
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.0
--extra-index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.0
tqdm==4.64.1
types-requests==2.31.0.2